@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



.jumbotron {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    -45deg,
    #6eacd0,
    #be9ee7,
    #5db69f,
    #8db5e3,
    #ce90df
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  text-align: center;
/*  height: 100vh;*/
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar-nav > li{
  padding-left:2px;
  padding-right:2px;
}


p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.container1 {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}


.container2 {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 5em;
  margin-left: 5em;
  text-align: center;
}

.container3 {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 5em;
  margin-left: 5em;
  text-align: justify;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /* width: 350px; */
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

